<div class="main__home">
    <section class="infoImg__container">
        <div class="infoImg">
            <section>
                <h1 class="infoImg__title1">Sergio E Mendoza B</h1>
                <hr />
                <h1 class="infoImg__title2">Desarrollador Front-end</h1>
            </section>
            <section class="buttons__container">
                <button class="infoImg__button"><a href="">about me</a></button>
            <button class="infoImg__button"><a href="">Portafolio</a></button>
            </section> 
            
            <section class="social-media">
                <section>
                    <a class="icon__social" href="https://github.com/Sergy-cpu"><img src="../../../assets/img/github (1).png" alt=""> </a>
                </section>
                <section>
                    <a class="icon__social" href=""> <img src="../../../assets/img/linkedin.png" alt=""></a>
                </section>
                
                <section>
                    <a class="icon__social" href=""> <img src="../../../assets/img/twitter.png" alt=""></a>
                </section>
               
                
            </section>
        </div>
        
    </section>

    <section class="perfil__container">
        <div class="perfil">
            <span class="perfil__background"></span>
            
            <section class="perfil__info">
                <img class="perfil__img" src="../assets/img/imgPerfil.jpeg" alt="">
                <h2 class="perfil__title">Sergio Mendoza</h2>
                <p class="perfil__text">"In constant learning. I rely on the most viable solutions, following good practices"</p>
            </section>
            
        </div>
       
    </section>
    <hr class="perfil__hr" />
    <section class="perfil__skills">

        <div class="skills">
            <section class="skills__intro">
                <h1 class="skills__title">Skills</h1>
            <p class="skills__text">These are the programming languages ​​that I have used in my previous projects and work</p>
            </section>
            
            <div class="skills__technologies">
                <section class="tech__card">
                    <img class="tech__img" src="../assets/img/html.png" alt="">
                    <h1 class="tech__title">HTML 5</h1>
                    <p class="tech__text">This includes the HTML Living Standard, along with JavaScript APIs to enhance storage, multimedia, and hardware access.</p>
                    <button class="tech__button1">
                        <a href="https://developer.mozilla.org/es/docs/Web/HTML"> go to now</a>
                    </button>
                </section>

                <section class="tech__card">
                    <img class="tech__img" src="../assets/img/css-3.png" alt="">
                    <h1 class="tech__title">CCS3</h1>
                    <p class="tech__text">CSS is the language we use to style an HTML document. CSS describes how HTML elements should be displayed.</p>
                    <button class="tech__button2">
                        <a href="https://www.w3schools.com/css/default.asp"> go to now</a>
                    </button>
                </section>

                <section class="tech__card">
                    <img class="tech__img" src="../assets/img/logo-SaaS.svg" alt="">
                    <h1 class="tech__title">SaaS</h1>
                    <p class="tech__text">Sass is the most mature, stable, and powerful professional grade CSS extension language in the world.</p>
                    <button class="tech__button3">
                       <a href="https://sass-lang.com">go to now</a>
                    </button>
                </section>

                <section class="tech__card">
                    <img class="tech__img" src="../assets/img/javascript (1).png" alt="">
                    <h1 class="tech__title">JavaScript</h1>
                    <p class="tech__text">JavaScript is the world's most popular programming language.
JavaScript is the programming language of the Web.</p>
                    <button class="tech__button4">
                        <a href="https://www.w3schools.com/js/">go to now</a>
                    </button>
                </section>

                <section class="tech__card">
                    <img class="tech__img" src="../assets/img/AngularJS-Shield.svg" alt="">
                    <h1 class="tech__title">Angular JS</h1>
                    <p class="tech__text">build applications with Angular and reuse your code and abilities to build apps for any deployment target. For web, mobile web, native mobile and native desktop.</p>
                    <button class="tech__button5">
                        <a href="https://angular.io">go to now</a>
                    </button>
                </section>

                <section class="tech__card">
                    <img class="tech__img" src="../../../assets/img/typescript.png" alt="">
                    <h1 class="tech__title">Typescript</h1>
                    <p class="tech__text">TypeScript is an open-source language which builds on JavaScript, one of the world’s most used tools, by adding static type definitions.</p>
                    <button class="tech__button6">
                        <a href="https://www.typescriptlang.org">go to now</a>
                    </button>
                </section>

                <section class="tech__card">
                    <img class="tech__img" src="../assets/img/react.png" alt="">
                    <h1 class="tech__title">React JS</h1>
                    <p class="tech__text">React makes it painless to create interactive UIs. Design simple views for each state in your application, and React will efficiently update and render just the right components when your data changes.</p>
                    <button class="tech__button6">
                        <a href="https://reactjs.org">go to now</a>
                    </button>
                </section>

                <section class="tech__card">
                    <img class="tech__img" src="../../../assets/img/java.png" alt="">
                    <h1 class="tech__title">JAVA </h1>
                    <p class="tech__text">
                        Java is the #1 programming language and development platform. It reduces costs, shortens development timeframes, drives innovation, and improves application services.</p>
                    <button class="tech__button2">
                        <a href="https://www.oracle.com/java/">go to now</a>
                    </button>
                </section>

                <section class="tech__card">
                    <img class="tech__img" src="../../../assets/img/python.png" alt="">
                    <h1 class="tech__title">Python</h1>
                    <p class="tech__text">Python is a programming language that lets you work more quickly and integrate your systems more effectively.</p>
                    <button class="tech__button2">
                        <a href="https://www.python.org">go to now</a>
                    </button>
                </section>

                <section class="tech__card">
                    <img class="tech__img" src="../../../assets/img/mysql.png" alt="">
                    <h1 class="tech__title">MySQL</h1>
                    <p class="tech__text">MySQL Database Service is a fully managed database service to deploy cloud-native applications. HeatWave, an integrated, high-performance query accelerator boosts MySQL performance by 5400x.</p>
                    <button class="tech__button2">
                        <a href="https://www.mysql.com">go to now</a>
                    </button>
                </section>

            </div>
        </div>
    </section>
        <hr class="perfil__hr" />

        <section class="personalProyects__container">
           
                <section class="personalProyects__card">
                    <h1 class="personalProyects__card--title">Personal Proyects</h1>
                    <p class="personalProyect__card--text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus hic facilis commodi incidunt tempore, illo porro accusantium quidem libero tempora? Soluta voluptatibus labore corporis consectetur nobis dolores dolor error modi.</p>
                </section>
                <div class="personalProyects">
                <section class="personalProyects__info1">
                    <h3 class="personalProyects__info--subtitle1">Criptocurrencies</h3>
                    <h1 class="personalProyects__info--title1"> Batatabit </h1>
                    <p class="personalProyects__info--text1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, sequi illum quo eos optio porro facere rem cupiditate esse suscipit ipsam mollitia voluptatibus cumque in neque commodi inventore soluta vero.</p>
                    <div class="personalProyects__info--button1"> <a mat-button href="https://www.google.com/" target="_blank"> <p>Go to now</p> </a></div>
                </section>

                <section class="personalProyects__info2">
                    <h3 class="personalProyects__info--subtitle2">Criptocurrencies</h3>
                    <h1 class="personalProyects__info--title2"> Batatabit </h1>
                    <p class="personalProyects__info--text2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, sequi illum quo eos optio porro facere rem cupiditate esse suscipit ipsam mollitia voluptatibus cumque in neque commodi inventore soluta vero.</p>
                    <div class="personalProyects__info--button2"> <a mat-button href="https://mathgrow.github.io/MathGrow_1.0/InterfazInterna/" target="_blank"> <p>Go to now</p> </a></div>
                </section>
               

                <section class="personalProyects__info2">
                    <h3 class="personalProyects__info--subtitle2">Criptocurrencies</h3>
                    <h1 class="personalProyects__info--title2"> Batatabit </h1>
                    <p class="personalProyects__info--text2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, sequi illum quo eos optio porro facere rem cupiditate esse suscipit ipsam mollitia voluptatibus cumque in neque commodi inventore soluta vero.</p>
                    <div class="personalProyects__info--button2"> <a mat-button href="https://www.google.com/" target="_blank"> <p>Go to now</p> </a></div>
                </section>

                <section class="personalProyects__info2">
                    <h3 class="personalProyects__info--subtitle2">Criptocurrencies</h3>
                    <h1 class="personalProyects__info--title2"> Batatabit </h1>
                    <p class="personalProyects__info--text2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, sequi illum quo eos optio porro facere rem cupiditate esse suscipit ipsam mollitia voluptatibus cumque in neque commodi inventore soluta vero.</p>
                    <div class="personalProyects__info--button2"> <a mat-button href="https://www.google.com/" target="_blank"> <p>Go to now</p> </a></div>
                </section>
                
                <section class="">
                    <div>
                       <section>
                        <img src="" alt="">
                       </section>
                       <section>
                       MiAddvantage.com ()
                       JUN 2020 - DIC 2020 
                       </section>
                    </div>

                    <div>

                    </div>

                    <div>

                    </div>
                </section>
                
            </div>
        </section>


</div>